body{
    background-color:#222;
    color: rgb(255, 153, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #222;
}
header h1{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 300;
    font-style:inherit ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1000px;
}
.header img {
    border-radius: 50%;
    border: 5px solid #2b6de9;
    height: 60px;
    box-shadow: #333;
    margin-left: 20px;
}
.image {
    width: 350px;
    height: 300px;
}
button{
    background-color: rgba(255, 68, 0, 0.603);
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.cards{
    background-color: #111;
    margin-left: 200px;
    margin-right: 200px;
}
.card{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    height: 600px;
    width: 350px;
    margin: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    gap: 3px;
    line-height: 32px;
}
.food-item{
    background-color: #222;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}
  .food-item h2 {
    font-size: 24px;
    margin: 10px 0;
    color: white;
  }
  
  .food-item p {
    font-size: 18px;
  }
  
  .food-item button:hover {
    background-color: #ffaa00;
  }
@media (max-width: 769px){
.cards{
    margin-left: 20px;
    margin-right: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    height: 500px;
    width: 250px;
    margin: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    gap: 3px;
    line-height: 32px;
}
.image {
    width: 250px;
    height: 200px;
}
.food-item{
    display: flex;
    flex-direction: column;
}
.food-item p {
    font-size: 10px;
  }
  
header h1{
font-size: 15px;
}
header span{
    gap: 40px;
}
.header img {
    height: 30px;
    margin-left: 10px;
}
}